#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	mkdir -p build && cd build && cmake .. ${CMAKE_ARGS}

override_dh_auto_build:
	$(MAKE) -C build

override_dh_auto_install:
	$(MAKE) -C build DESTDIR=$(CURDIR)/debian/reduce install

override_dh_usrlocal:
	mkdir -p $(CURDIR)/debian/reduce/usr/local
	cp reduce_wwPDB_het_dict.txt $(CURDIR)/debian/reduce/usr/local
